RewriteEngine On
RewriteRule ^(home)$ index.php?action=$1 [L,QSA]
RewriteRule ^(upload)$ index.php?action=$1 [L,QSA]

RewriteRule ^(share_files)?$ index.php?action=home [L,QSA]

# RewriteRule ^(download)$ index.php?action=$1 [L,QSA]

RewriteRule ^(download)$ index.php?action=$1 [L,QSA]

RewriteRule ^(download/)([a-z0-9]+)?$ index.php?action=$1&name=$2 [L,QSA]
RewriteRule ^(state)$ index.php?action=$1 [L,QSA]
