	
{% extends 'template.html.twig' %}
{% block content_1 %}

 <a href="index.php?action=download&memeId={{ meme.id }}&memeName={{ meme.url }}">
    <button type="submit" class="btn-pink">Télécharger</button>
</a>

{% endblock %} 