
{% extends 'template.html.twig' %}
{% block title %}Home{% endblock %}
{% block content_1 %}

<section class="main--form">
<form id="mainForm" action="upload" method="post" enctype="multipart/form-data">
<article class="form-files-section">
<p class="totalSizeBox">Taille totale : <span id="totalSize">0</span> ko</p>
				<div id="addedFilesField"></div>
<div id="addFileField">
					<img src="assets/medias/img/plus_sign.svg">
					<input type="file" multiple name="file_name[]" class="activeInputFile">
					<p class="buttonMask">Ajouter un fichier</p>
				</div>
</article>

<article class="form-info-section">
<input type="email" placeholder="votre email" name="sender_email" value="{{session.sender_email}}" >
<input type="email" placeholder="email destinataire" name="receiver_email" value="{{session.receiver_email}}">
<textarea name="message" placeholder="Votre message">{{session.message}}</textarea>
</article>
<p class="submit"><input type="submit" name="envoi" value="ENVOYER"></p>
</form>
</section>
<script type="text/javascript" src="assets/js/main.js"></script>
{% endblock %} 
	
