<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share Files</title>
</head>

<body>

    <form method="post" action="ctrlUpload.php">
        Ton email: <input type="text" name=" monEmail" size="15"><br>
        Mon email: <input type="text" name=" tonEmail" size="15"><br>
        Message: <input type="text" name="message" size="50"><br>
    <input type="submit" value="Transfert">
    </form>



  

</body>
</html>