{% extends 'templat_files/homee.html.twig' %}
{% block content_1 %}
	{% if session['error'] == false %}
		<p>Upload terminé avec succès</p>
		<p><a href="home">Retour à l'accueil</a></p>
	{% endif %}
	{% if session['error'] == true %}
		<p>Un problème est survenu lors du transfert de fichier</p>
		<p><a href="home">Retour à l'accueil</a></p>
	{% endif %}
{% endblock %}