<!DOCTYPE html>
<html lang="fr">
<head>
	{% block head %}
	<base href="http://localhost/share_files/">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Share Files</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<!-- <link rel="stylesheet" href="assets/stylesheets/css/style.css" /> -->
    	{% block stylesheets %}
			<link rel="stylesheet" href="assets/stylesheets/css/style.css" type="text/css" />
		{% endblock %}   
    {% endblock %}
</head>
<body>
	<video autoplay loop poster="polina.jpg" id="bgvid">
	  	<!-- <source src="polina.webm" type="video/webm"> -->
	 	 <source src="assets/medias/videos/World - 1992.mp4" type="video/mp4">
	</video>	
	<header>
		<div class="content">
			{% block header %}
				<section>
					<article class="logo--element">
						<!-- <img src="assets/medias/img/logo.svg"> -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="181.1px" height="155.005px" viewBox="0 0 181.1 155.005" enable-background="new 0 0 181.1 155.005" xml:space="preserve">
							<g id="Calque_3">
								<g>
									<path fill="#FFFFFF" d="M75.314,62.174h-6.609V39.814c0-1.805-0.088-3.486-0.264-5.045c-0.176-1.559-0.51-2.807-1.002-3.744
										c-0.54-0.984-1.289-1.717-2.25-2.197c-0.961-0.48-2.273-0.721-3.938-0.721c-1.641,0-3.334,0.439-5.08,1.318
										c-1.746,0.879-3.451,2.021-5.115,3.428v29.32h-6.609V7.471h6.609v19.793c1.969-1.758,3.914-3.105,5.836-4.043
										c1.921-0.937,3.949-1.406,6.082-1.406c3.867,0,6.891,1.271,9.07,3.814c2.18,2.543,3.27,6.229,3.27,11.057V62.174z"/>
									<path fill="#FFFFFF" d="M106.533,57.99c-0.539,0.399-1.26,0.955-2.162,1.67c-0.902,0.715-1.775,1.283-2.619,1.705
										c-1.172,0.61-2.302,1.078-3.392,1.406c-1.09,0.328-2.619,0.492-4.588,0.492c-1.617,0-3.153-0.305-4.606-0.914
										c-1.454-0.609-2.73-1.464-3.832-2.566c-1.055-1.078-1.898-2.408-2.531-3.99s-0.949-3.252-0.949-5.01
										c0-2.719,0.574-5.033,1.723-6.943c1.148-1.91,2.965-3.428,5.449-4.553c2.203-1.007,4.804-1.705,7.805-2.092
										c2.999-0.387,6.234-0.673,9.703-0.861v-1.266c0-1.547-0.234-2.795-0.703-3.744s-1.125-1.682-1.969-2.197
										c-0.844-0.539-1.875-0.896-3.093-1.072c-1.22-0.176-2.474-0.264-3.762-0.264c-1.524,0-3.317,0.229-5.379,0.686
										c-2.063,0.457-4.126,1.12-6.188,1.986h-0.387v-6.715c1.218-0.352,2.965-0.738,5.239-1.16c2.272-0.422,4.522-0.633,6.75-0.633
										c2.694,0,4.968,0.211,6.82,0.633s3.516,1.184,4.992,2.285c1.43,1.078,2.496,2.473,3.199,4.184
										c0.703,1.711,1.055,3.797,1.055,6.258v26.859h-6.574V57.99z M106.533,52.506V41.607c-1.57,0.141-3.557,0.334-5.958,0.58
										c-2.403,0.246-4.342,0.592-5.818,1.037c-1.758,0.54-3.212,1.366-4.359,2.479c-1.149,1.113-1.723,2.667-1.723,4.658
										c0,2.25,0.633,3.95,1.899,5.098c1.266,1.148,3.116,1.723,5.555,1.723c2.085,0,3.973-0.451,5.66-1.354
										C103.475,54.926,105.057,53.819,106.533,52.506z"/>
									<path fill="#FFFFFF" d="M143.201,30.006h-0.352c-0.492-0.141-1.014-0.229-1.564-0.264s-1.213-0.053-1.986-0.053
										c-1.781,0-3.551,0.387-5.309,1.16s-3.422,1.922-4.992,3.445v27.879h-6.609v-39.27h6.609v5.836
										c2.414-2.132,4.518-3.639,6.311-4.518s3.533-1.318,5.221-1.318c0.68,0,1.189,0.018,1.529,0.053s0.721,0.088,1.143,0.158V30.006z"
										/>
									<path fill="#FFFFFF" d="M165.033,63.088c-6.258,0-11.115-1.763-14.572-5.291c-3.457-3.527-5.186-8.537-5.186-15.029
										c0-6.398,1.676-11.49,5.027-15.275c3.352-3.785,7.734-5.678,13.148-5.678c2.438,0,4.594,0.352,6.469,1.055
										s3.516,1.805,4.922,3.305c1.406,1.5,2.484,3.334,3.234,5.502c0.75,2.168,1.125,4.822,1.125,7.963v3.586H151.99
										c0,4.57,1.148,8.063,3.445,10.477c2.297,2.414,5.473,3.621,9.527,3.621c1.453,0,2.877-0.164,4.271-0.492
										c1.395-0.328,2.654-0.75,3.779-1.266c1.195-0.539,2.203-1.06,3.023-1.564c0.82-0.504,1.5-0.979,2.039-1.424h0.387v7.207
										c-0.773,0.305-1.734,0.686-2.883,1.143s-2.18,0.814-3.094,1.072c-1.289,0.352-2.455,0.621-3.498,0.809
										C167.945,62.994,166.627,63.088,165.033,63.088z M172.768,38.162c-0.047-1.781-0.258-3.316-0.633-4.605
										c-0.375-1.289-0.914-2.378-1.617-3.27c-0.773-0.984-1.764-1.734-2.971-2.25c-1.207-0.515-2.701-0.773-4.482-0.773
										c-1.758,0-3.252,0.264-4.482,0.791s-2.35,1.295-3.357,2.303c-0.984,1.032-1.734,2.174-2.25,3.428
										c-0.516,1.254-0.844,2.713-0.984,4.377H172.768z"/>
								</g>
							</g>
							<g id="Calque_4">
								<g>
									<path fill="#D40000" d="M76.299,78.681H51.936v14.766h23.344v6.188H51.936v25.207h-6.961V72.493h31.324V78.681z"/>
								</g>
							</g>
							<g id="Calque_5">
								<g>
									<path fill="#FFFFFF" d="M88.987,78.997h-7.523v-6.855h7.523V78.997z M88.53,124.841h-6.609v-39.27h6.609V124.841z"/>
									<path fill="#FFFFFF" d="M105.054,124.841h-6.609V70.138h6.609V124.841z"/>
									<path fill="#FFFFFF" d="M131.808,125.755c-6.258,0-11.115-1.764-14.572-5.291s-5.186-8.537-5.186-15.029
										c0-6.398,1.676-11.49,5.027-15.275s7.734-5.678,13.148-5.678c2.438,0,4.594,0.352,6.469,1.055s3.516,1.805,4.922,3.305
										s2.484,3.334,3.234,5.502s1.125,4.822,1.125,7.963v3.586h-27.211c0,4.57,1.148,8.063,3.445,10.477s5.473,3.621,9.527,3.621
										c1.453,0,2.877-0.164,4.271-0.492s2.654-0.75,3.779-1.266c1.195-0.539,2.203-1.061,3.023-1.564s1.5-0.979,2.039-1.424h0.387v7.207
										c-0.773,0.305-1.734,0.686-2.883,1.143s-2.18,0.814-3.094,1.072c-1.289,0.352-2.455,0.621-3.498,0.809
										S133.401,125.755,131.808,125.755z M139.542,100.829c-0.047-1.781-0.258-3.316-0.633-4.605s-0.914-2.379-1.617-3.27
										c-0.773-0.984-1.764-1.734-2.971-2.25s-2.701-0.773-4.482-0.773c-1.758,0-3.252,0.264-4.482,0.791s-2.35,1.295-3.357,2.303
										c-0.984,1.031-1.734,2.174-2.25,3.428s-0.844,2.713-0.984,4.377H139.542z"/>
									<path fill="#FFFFFF" d="M163.272,125.79c-2.625,0-5.08-0.352-7.365-1.055s-4.178-1.453-5.678-2.25v-7.418h0.352
										c0.563,0.445,1.225,0.938,1.986,1.477s1.775,1.102,3.041,1.688c1.125,0.516,2.361,0.973,3.709,1.371s2.748,0.598,4.201,0.598
										c1.055,0,2.18-0.123,3.375-0.369s2.086-0.557,2.672-0.932c0.82-0.539,1.412-1.113,1.775-1.723s0.545-1.523,0.545-2.742
										c0-1.57-0.428-2.754-1.283-3.551s-2.373-1.465-4.553-2.004c-0.844-0.211-1.945-0.457-3.305-0.738s-2.613-0.586-3.762-0.914
										c-3-0.867-5.18-2.209-6.539-4.025s-2.039-4.014-2.039-6.592c0-3.539,1.336-6.422,4.008-8.648s6.223-3.34,10.652-3.34
										c2.18,0,4.371,0.27,6.574,0.809s4.055,1.219,5.555,2.039v7.066h-0.352c-1.688-1.336-3.568-2.391-5.643-3.164
										s-4.166-1.16-6.275-1.16c-2.18,0-4.02,0.457-5.52,1.371s-2.25,2.297-2.25,4.148c0,1.641,0.445,2.865,1.336,3.674
										s2.32,1.471,4.289,1.986c0.984,0.258,2.08,0.51,3.287,0.756s2.479,0.533,3.814,0.861c2.906,0.727,5.092,1.934,6.557,3.621
										s2.197,3.984,2.197,6.891c0,1.688-0.334,3.287-1.002,4.799s-1.646,2.807-2.936,3.885c-1.406,1.172-2.994,2.063-4.764,2.672
										S165.944,125.79,163.272,125.79z"/>
								</g>
							</g>
							<g id="Calque_1">
								<g>
									<path fill="#D40000" d="M19.898,63.123c-3.797,0-7.026-0.393-9.686-1.178c-2.66-0.785-5.163-1.752-7.506-2.9v-8.719h0.492
										c2.297,2.156,4.898,3.826,7.805,5.01c2.906,1.184,5.707,1.775,8.402,1.775c3.844,0,6.75-0.803,8.719-2.408
										s2.953-3.721,2.953-6.346c0-2.086-0.516-3.785-1.547-5.098c-1.032-1.313-2.672-2.285-4.922-2.918
										c-1.617-0.469-3.094-0.855-4.43-1.16s-3.012-0.715-5.027-1.23c-1.805-0.469-3.422-1.066-4.852-1.793
										c-1.43-0.727-2.695-1.676-3.797-2.848c-1.078-1.148-1.916-2.501-2.514-4.061c-0.598-1.559-0.896-3.357-0.896-5.396
										c0-4.242,1.652-7.799,4.957-10.67c3.305-2.871,7.523-4.307,12.656-4.307c2.93,0,5.701,0.293,8.314,0.879
										c2.613,0.586,5.033,1.418,7.26,2.496v8.332h-0.527c-1.665-1.523-3.797-2.853-6.399-3.99c-2.602-1.137-5.332-1.705-8.191-1.705
										c-3.234,0-5.848,0.756-7.84,2.268c-1.992,1.512-2.988,3.498-2.988,5.959c0,2.227,0.585,3.996,1.758,5.309
										c1.172,1.313,2.871,2.273,5.098,2.883c1.477,0.399,3.281,0.85,5.414,1.354c2.132,0.504,3.902,0.967,5.309,1.389
										c3.609,1.102,6.246,2.766,7.911,4.992c1.663,2.227,2.496,4.969,2.496,8.227c0,2.039-0.417,4.055-1.248,6.047
										c-0.833,1.992-1.999,3.68-3.499,5.063c-1.688,1.523-3.592,2.695-5.713,3.516C25.74,62.713,23.085,63.123,19.898,63.123z"/>
								</g>
							</svg>

					</article>
				</section>
				<section>
					
				</section>
			{% endblock %}
		</div>
	</header>
	<!-- <nav>
		<div class="content">
			{% block nav %}

			{% endblock %}
		</div>
	</nav> -->
	
	<section class="main--content_1">
		<div class="content">
			{% block content_1 %}
				
			{% endblock %}
		</div>
	</section>
  
		{% block content_2 %}
			
		{% endblock %}

	
	<footer>
		<div class="content">
			{% block footer %}
				
			{% endblock %}
		</div>
	</footer>
</body>
</html>