<!DOCTYPE html>
<html lang="fr">
<head>
	{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Share Files</title>
	<link rel="stylesheet" href="assets/css/style.css" />
            
    {% endblock %}
</head>
<body>

	<header>
		{% block header %}
			
		{% endblock %}
	</header>
	<section>
		{% block content_1 %}
			
		{% endblock %}
	</section>
    <section>
		{% block content_2 %}
			
		{% endblock %}
	</section>
	<footer>
		{% block footer %}
			
		{% endblock %}
	</footer>   


   <p>essai</p>
    

</body>
</html>